*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(213, 213, 213);
}
body .title {
  color: #39b385;
}
.quizBody h2 {
  color: rgb(96, 94, 94);
}

.quizBody {
  margin: 50px auto;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  width: 45vw;
  border-radius: 10px;
  padding: 5px;
}
.question-text {
  margin-top: 30px;
}
.QA {
  display: flex;
}
.answer-section {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 60px;
  width: 30vw;
}
.answer-section span {
  border: 1px solid white;
  display: inline-block;
  width: 10vw;
  padding: 3px;
  border-radius: 5px;
  color: white;
  background-color: rgb(83, 135, 141);
  margin-top: 30px;
}
.answer-section span:hover {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.quizBody .nextStep {
  padding: 10px 0px;
  text-align: center;
}
.progress {
  margin-top: 0px;
}
.rating {
  cursor: not-allowed;
}
.question-text p {
  word-wrap: break-word;
}
.scoreBar .score {
  display: flex;
  justify-content: space-between;
}
.star {
  display: inline-block;
  cursor: pointer;
}
.inactive,
.active {
  background: transparent;
  user-select: none;
}
.inactive {
  color: #f1f1e8;
}
.active {
  color: red;
}
